* {
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    margin: auto;
    margin-top: 30px;
}

a {
    text-decoration: none;
}



/* ========== */
/* start main */
/* ========== */


/* ========== */
/* start form */
.utils {
    display: inline-block;
    width: 360px;
    margin-left: 220px;
}

.form {
    border: 1px solid rgb(211, 211, 211);
    background-color: #FFFFFF;
    padding: 40px;
}

form {
    background-color: #FFFFFF;
}

.img-form-1 {
    margin-left: 60px;
}

.form-title {
    font-size: 17px;
    font-weight: bold;
    display: flex;
    margin-left: 10px;
    text-align: center;
    color: rgb(136, 136, 136);
}

.input-form-1, .input-form-2 {
    padding: 10px;
    background-color: #FAFAFA;
    border: 1px solid rgb(223, 223, 223);
    width: 260px;
    font-size: 12px;
    border-radius: 5px;
    margin-top: 8px;
    outline: none;
}

.form-info-1, .form-info-2 {
    font-size: 12px;
    color: rgb(151, 151, 151);
    display: inline-block;
    text-align: center;
    line-height: 17px;
}

.form-info-1 a {
    font-weight: bold;
}

.form-info-2 a {
    font-weight: bold;
}

.btn-login {
    padding: 7px;
    background-color: #B2DFFC;
    border: 1px solid #B2DFFC;
    width: 282px;
    height: 30px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    outline: none;
}

hr {
    opacity: .3;
}

.box {
    background-color: #0095F6;
    padding: 7px;
    border-radius: 5px;
}

.login-with-facebook {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin-left: 74px;
}

.login-with-facebook span {
    background-color: #0095F6;
}

.login-with-facebook img {
    position: absolute;
    margin-left: -25px;
}

.forgot-password {
    font-size: 12px;
    color: #000;
    margin-left: 110px;
}
/* end form */
/* ========== */


/* =============== */
/* start side form */
.side-form {
    border: 1px solid rgb(211, 211, 211);
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}

.side-form a {
    color: #3195F6;
    font-weight: bold;
}
/* end side form */
/* ============= */


/* ===========*/
/* start apps */
.apps {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: rgb(41, 41, 41);
}

.apps a {
    margin-right: 5px;
}
/* end apps */
/* =========*/


/* ===========*/
/* start footer */
.footer {
    font-size: 12px;
    text-align: center;
}

.footer a {
    color: rgb(160, 160, 160);
    margin-right: 10px;
    line-height: 30px;
}
/* end footer */
/* =========*/


/* ======== */
/* end main */
/* ======== */